@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$base-Color:#167fe0;
$base-Color-Hover: #3c92e2;
$base-Color-btn: #0a68c0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

// `xxxl` applies to x-x-large devices (x-large desktops, more than 1400px)
nav {
    background-color: $base-Color;

    .container-fluid {
        .navbar-brand {
            color: white;
        }

        .navbar-nav {
            .nav-item {
                margin: 0 .3rem;

                &:nth-child(2) {
                    margin: 0;
                    padding: 8px;
                }

                &:nth-child(3) {
                    margin: 0;
                    padding: 8px;
                }

                &:nth-child(4) {
                    margin: 0;
                    padding: 8px;
                }

                &:last-child {
                    margin: 0;
                }

                .nav-link {
                    color: white;
                    transition: 300ms;
                }

                .adSearch {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: white;
                    cursor: pointer;
                }

                .search {
                    height: 1.5rem;
                    border: none;
                    border-radius: 4px;
                    background-color: white;
                    overflow: hidden;
                    padding: 0 .5rem;

                    input[type='text'] {
                        height: 1.2rem;
                        width: 170px;
                        border: none;
                        margin: 0 .2rem;
                        background-color: transparent;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .form-select {
                    height: 1.5rem;
                    width: 150px;
                    font-size: .9rem;
                    font-weight: 800;
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .profile {
                    height: 2rem;
                    width: 2rem;
                    background-color: white;
                    cursor: pointer;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                &:hover>.nav-link {
                    color: rgb(221, 221, 221);
                    transition: 300ms;
                }

                .active {
                    color: rgb(221, 221, 221);
                }
            }
        }
    }
}

.advanceSearchPanel {
    width: 100%;
    color: black;
    z-index: 100000;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10000000;

    .AdvanceSearchLg {
        width: 100%;
        padding: .5rem;
        display: flex;
        flex-wrap: wrap;

        .ac-no {
            padding-left: .3rem;

            &:focus {
                outline: none;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
    z-index: 10000000000;
    color: white;
    display: none;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center
}

.overlay.active {
    display: flex;
}

footer {
    background-color: $base-Color;

    .navbar-nav {
        .nav-item {
            margin: 0 .3rem;

            .nav-link {
                color: white;
                transition: 300ms;
            }

            &:hover>.nav-link {
                color: rgb(221, 221, 221);
                transition: 300ms;
            }

            .nav-link.active {
                color: rgb(221, 221, 221);
            }
        }
    }
}

.LoginSignup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        position: relative;
        height: 70vh;
        min-width: 350px;
        width: 60vw;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        .form {
            min-width: 350px;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            overflow: hidden;

            .header {
                width: 100%;
                text-align: center;
                color: $base-Color;
            }

            .body {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding: 0 1.5rem;

                .text-feild {
                    width: 100%;
                }

                .showpass {
                    cursor: pointer;
                    font-size: 18px;
                }

                a {
                    color: rgb(128, 128, 128);
                    text-decoration: none;
                    font-size: 14px;
                    transition: 400ms;
                    margin-top: 0.3rem;

                    &:hover {
                        color: rgb(26, 26, 26);
                        transition: 400ms;
                    }
                }

                .bttn {
                    height: 3.5rem;
                    width: 100%;
                    border-radius: 10px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $base-Color;
                    color: white;
                    transition: 400ms;
                    margin-top: 1rem;

                    &:hover {
                        background-color: $base-Color-Hover;
                        transition: 400ms;
                    }
                }

                .policy {
                    span {
                        font-size: 14px;
                        padding-left: 0;
                    }
                }
            }

            .footer {
                width: 100%;
                text-align: center;
                margin-top: .5rem;

                ul {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    list-style: none;

                    li {
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        margin: .5rem .5rem 0;
                        border: 1px solid gray;
                        border-radius: 50%;
                        cursor: pointer;

                        &:hover {
                            color: white !important;
                            transition: 400ms;
                        }

                        &:first-child {
                            color: #129AF6;
                            transition: 400ms;

                            &:hover {
                                background-color: #129AF6;
                            }
                        }

                        &:nth-child(2) {
                            color: #1D9BF0;
                            transition: 400ms;

                            &:hover {
                                background-color: #1D9BF0;
                            }
                        }

                        &:nth-child(3) {
                            color: #0037C1;
                            transition: 400ms;

                            &:hover {
                                background-color: #0037C1;
                            }
                        }

                        &:nth-child(4) {
                            color: #CA4336;
                            transition: 400ms;

                            &:hover {
                                background-color: #CA4336;
                            }
                        }

                        &:nth-child(5) {
                            color: #000000;
                            transition: 400ms;

                            &:hover {
                                background-color: #000000;
                            }
                        }

                        &:nth-child(6) {
                            color: #6001D2;
                            transition: 400ms;

                            &:hover {
                                background-color: #6001D2;
                            }
                        }
                    }
                }
            }
        }

        .signupForm {
            transform: scaleX(0);
            transform-origin: left;
            transition: 400ms;
        }

        .signupForm.active {
            transform: scaleX(1);
            transition: 400ms;
            transition-delay: 400ms;
        }

        .loginForm {
            transform: scaleX(0);
            transform-origin: right;
            transition: 400ms;
        }

        .loginForm.active {
            transform: scaleX(1);
            transition: 400ms;
            transition-delay: 400ms;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            background-color: $base-Color;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            transition: 400ms;

            .content {
                width: 100%;
                text-align: center;
                font-size: .8rem;
                overflow: hidden;

                .header {
                    h1 {
                        color: white;
                    }
                }

                .body {
                    p {
                        margin: 0 auto;
                        text-align: justify;
                        width: 300px;
                        color: white;
                    }
                }

                .footer {
                    margin-top: 1rem;

                    input[type="button"] {
                        width: 300px;
                        height: 3rem;
                        border-radius: 30px;
                        border: none;
                        background-color: $base-Color-btn;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.603);
                        color: white;
                        transition: 400ms;

                        &:hover {
                            box-shadow: 0 0 10px white;
                            transition: 400ms;
                        }
                    }
                }
            }

            .login {
                height: 200px;
                transition: 400ms;
                transition-delay: 400ms;
            }

            .signup {
                height: 0;
                transition: 400ms;
                transition-delay: 400ms;
            }
        }

        .overlay.active {
            left: 50%;
            right: 0;
            transition: 400ms;

            .login {
                height: 0;
                transition: 400ms;
                transition-delay: 400ms;
            }

            .signup {
                height: 200px;
                transition: 400ms;
                transition-delay: 400ms;
            }
        }
    }
}

.web-layout {
    section {
        margin-top: 56px;

        .home {
            height: calc(100vh - 112px);

            .dragable {
                position: relative;
                overflow-x: auto;

                .bricks-wall {
                    height: calc(75vh - 64px);
                    user-select: none;
                }

                .downloadIcon {
                    position: fixed;
                    top: 65px;
                    right: 3%;
                    z-index: 1000;
                    background-color: white;
                }

                .chevron-left {
                    position: fixed;
                    user-select: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 56px;
                    left: 0;
                    height: calc(75vh - 64px);
                    width: 2%;
                    background-color: rgba(0, 0, 0, 0.301);
                    cursor: pointer;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    color: white;
                    font-size: 35px;
                    transition: 200ms;
                    z-index: 10;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                        font-size: 40px;
                        transition: 200ms;
                    }
                }

                .chevron-right {
                    user-select: none;
                    position: fixed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 56px;
                    right: 0;
                    height: calc(75vh - 64px);
                    width: 2%;
                    background-color: rgba(0, 0, 0, 0.301);
                    cursor: pointer;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    color: white;
                    font-size: 35px;
                    transition: 200ms;
                    z-index: 10;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                        font-size: 40px;
                        transition: 200ms;
                    }
                }

                .droppedImage {
                    position: absolute;
                    top: 0;
                    z-index: 9;
                    cursor: move;
                }

                .dropable {
                    position: fixed;
                    top: 66px;
                    left: 10px;
                    right: 10px;
                    height: calc(75vh - 84px);
                    border: 2px dashed white;
                    border-radius: 10px;
                    z-index: 9;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 70px;
                    font-weight: bolder;
                    text-transform: uppercase;
                    text-shadow: 0 0 10px black;
                    opacity: 0;
                    transition: 200ms ease-in-out;
                }

                .dropable.active {
                    opacity: 1;
                    transition: 200ms ease-in-out;
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .dragableSlider {
                user-select: none;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: calc(25vh - 56px);
                overflow: hidden;

                .control {
                    position: relative;
                    height: 100px;
                    width: 800px;
                    position: relative;

                    img {
                        height: 100px;
                        width: 100%;
                        border-radius: 5px;
                        user-select: none;
                    }

                    .outerFrame {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 120px;
                        width: 220px;
                        border: 10px solid rgba(0, 0, 0, 0.493);
                        border-radius: 10px;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        overflow: hidden;
                        cursor: grab;

                        .innerFrame {
                            height: 100px;
                            width: 200px;
                            border: 5px solid rgba(0, 0, 0, 0.432);
                        }

                        &:active {
                            cursor: grabbing;
                        }
                    }
                }
            }
        }

        .memorialize {
            .main {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .profile {
                    position: relative;

                    .img-btn {
                        border: none;
                        background: none;
                        position: absolute;
                        top: 5px;
                        right: 5px;

                        .edit-icon {
                            font-size: 1.3rem;
                        }
                    }
                }
            }

            .sketchpad {
                border: 10x solid black;
                height: 550px;
                width: 100%;
            }

            h5 {
                font-size: .9rem;
            }

            .briksusedbyfont {
                font-size: 1.2rem;
                user-select: none;
            }

            .total {
                font-size: 1.2rem;
                user-select: none;

                span {
                    text-decoration: underline;
                }
            }
        }

        .sketchboard {
            .Bricks-select {
                width: 50%;
                min-width: 200px;
                margin-left: .5rem;
                margin-bottom: 1rem;
            }
        }

        .user-profile {
            height: calc(100vh - 112px);
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
                margin: 1rem;
                padding: 1rem .5rem;
                border-radius: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
                min-width: 200px;
                width: 500px;
                height: 462px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $base-Color;
                    border-radius: 10px;
                }

                .dp-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .dp {
                        position: relative;
                        border-radius: 50%;
                        overflow: hidden;
                        height: 150px;
                        width: 150px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.438);

                        .edit {
                            position: absolute;
                            height: 20px;
                            width: 20px;
                            top: 23px;
                            right: 23px;
                            padding: .1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: black;
                            border-radius: 5px;
                            color: white;
                            font-size: .7rem;
                            cursor: pointer;
                        }
                    }
                }

                .form {
                    padding: .5rem .5rem;

                    .input-wrapper {
                        display: flex;
                    }

                    .data-wrapper {
                        padding: .5rem 0;

                        .val-edit {
                            display: flex;
                            width: 100%;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
                            border-radius: 5px;
                            padding: .5rem;

                            .val {
                                width: 95%;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }

        .FAQ {
            height: calc(100vh - 112px);
            display: flex;
            justify-content: center;
            align-items: center;

            .mainWrapper {
                margin: 1rem;
                padding: 1rem .5rem;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
                min-width: 200px;
                width: 1000px;
                height: 462px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $base-Color;
                    border-radius: 10px;
                }

                .question {
                    position: relative;
                    display: flex;
                    align-items: center;
                    background-color: lightgray;
                    cursor: pointer;

                    .icon {
                        padding: 0 1rem;
                    }

                    p {
                        margin: .5rem;
                    }
                }

                .question.active {
                    background-color: $base-Color;

                    .icon {
                        color: white;
                    }

                    p {
                        color: white;
                    }
                }

                .answer {
                    position: relative;
                    border: 1px solid lightgray;
                    border-top: none;
                    border-left: none;
                    padding: 0 1rem;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 5px;
                        background-color: $base-Color;
                    }
                }
            }
        }

        .pricing {
            display: flex;
            justify-content: center;

            .mainWrapper {
                margin: 1rem;
                padding: 1rem .5rem;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                min-height: calc(100vh - 112px);

                .Card {
                    width: 300px;
                    background-color: rgb(34, 34, 34);
                    padding: .5rem;
                    transform: scale(1);
                    transition: 600ms;

                    .Card-inner {
                        height: 100%;
                        width: 100%;
                        border: 1px solid $base-Color;
                        transition: 600ms;

                        .name {
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.3rem;
                            color: $base-Color;
                            font-weight: 600;
                            letter-spacing: 1px;
                            // border: 1px solid white;
                        }

                        .price {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .pr {
                                height: 150px;
                                width: 150px;
                                border: 3px solid $base-Color;
                                border-radius: 50%;

                                .pr2 {
                                    height: 100%;
                                    width: 100%;
                                    border: 1px solid $base-Color;
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: white;
                                    font-size: 1.5rem;
                                    font-weight: bold;
                                }
                            }
                        }

                        .des {
                            padding: .5rem;
                            color: white;
                            text-align: center;
                        }
                    }

                    &:hover {
                        background-color: $base-Color;
                        box-shadow: 0 0 10px black;
                        border-radius: 20px;
                        transform: scale(1.08);
                        transition: 600ms;
                        z-index: 1000;

                        .Card-inner {
                            border-color: white;
                            border-radius: 20px;
                            transition: 600ms;

                            .name {
                                color: white;
                            }

                            .price {
                                .pr {
                                    border-color: white;

                                    .pr2 {
                                        border-color: white;
                                    }
                                }
                            }
                        }
                    }
                }

                .panelWrapper {
                    min-width: 200;
                    width: 500px;
                    border: 1px solid lightgray;
                    padding: 1rem;
                    border-radius: 20px;
                }
            }
        }

        .advanceSearchLessLg {
            height: calc(100vh - 112px);
            display: flex;
            justify-content: center;
            align-items: center;

            .mainWrapper {
                margin: 1rem;
                padding: 1rem .5rem;
                border-radius: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
                min-width: 200px;
                width: 500px;
                height: 462px;
                overflow: auto;
            }
        }

        .funds {
            height: calc(100vh - 112px);
            display: flex;
            justify-content: center;
            align-items: center;

            .fundsrows {
                max-height: 300px;
                overflow-x: hidden;
                overflow-y: auto;
            }

            .funds-links {
                display: flex;
                color: black;
                text-decoration: none;
                border-radius: 20px;
                padding: .3rem;
                transition: 200ms;

                &:hover {
                    background-color: $base-Color-Hover;
                    color: white;
                    transition: 200ms;
                }
            }
        }

        .donation {
            height: calc(100vh - 112px);
            display: flex;
            justify-content: center;
            align-items: center;

            .mainWrapper {
                margin: 1rem;
                padding: 1rem .5rem;
                width: 1000px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
                border-radius: 10px;

                .donationRows {
                    max-height: 300px;
                    overflow-y: auto;
                    overflow-x: hidden;

                    &::-webkit-scrollbar {
                        width: 7px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $base-Color;
                        border-radius: 10px;
                    }
                }
            }
        }

        .searchResults {
            height: calc(100vh - 112px);
            display: flex;
            justify-content: center;
            align-items: center;

            .mainWrapper {
                margin: 1rem;
                padding: 1rem .5rem;
                height: 500px;
                width: 1000px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
                border-radius: 10px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $base-Color;
                }

                .searchHover {
                    background-color: $base-Color;
                    color: white;
                    border-radius: 5px;
                    transition: 200ms;

                    &:hover {
                        background-color: $base-Color-Hover;
                        color: white;
                        transition: 200ms;
                    }
                }
            }
        }
    }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    .LoginSignup {
        .main {
            width: 70vw;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .LoginSignup {
        .main {
            height: 60vh;
            width: 80vw;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    nav {
        .offcanvas {
            background-color: rgb(117, 117, 117);

            .offcanvas-header {
                color: white;

                .btn-close {
                    background-image: none !important;
                    font-size: 1.4rem;
                }
            }

            .offcanvas-body {
                .navbar-nav {
                    padding-right: 0 !important;

                    li {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        &:first-child {
                            order: 2;
                            border: 3px solid white;
                        }

                        &:nth-child(3) {
                            order: 8;
                        }

                        &:nth-child(4) {
                            order: 3;

                            .form-select {
                                width: 100% !important;
                                height: 2rem;
                                text-align: center;
                            }
                        }

                        &:nth-child(5) {
                            order: 7;
                        }

                        &:nth-child(6) {
                            order: 4;
                        }

                        &:nth-child(7) {
                            order: 5;
                        }

                        &:nth-child(8) {
                            order: 6;
                        }

                        &:last-child {
                            order: 0;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            margin-bottom: .3rem;

                            .name {
                                margin: .5rem;

                                div {
                                    height: 10px;
                                    width: 10px;
                                    display: inline-block;
                                    background-color: green;
                                    border-radius: 50%;
                                }
                            }

                            .profile {
                                height: 100px;
                                width: 100px;
                            }
                        }

                        .search {
                            display: flex;
                            align-items: center;
                            height: 2.2rem;
                            width: 100%;

                            input[type='text'] {
                                height: 100%;
                                width: 85%;
                            }
                        }
                    }
                }
            }
        }
    }

    .LoginSignup {
        .main {
            height: 60vh;
            width: 90vw;

            .form {
                min-width: 300px;
            }
        }
    }

    .web-layout {
        section {
            .home {
                .dragable {
                    .bricks-wall {
                        height: calc(100vh - 112px);
                    }

                    .chevron-left {
                        height: calc(100vh - 112px);
                        width: 7%;
                    }

                    .chevron-right {
                        height: calc(100vh - 112px);
                        width: 7%;
                    }
                }

                .dragableSlider {
                    display: none;
                }
            }
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .LoginSignup {
        .main {
            position: static;
            height: 100vh;
            width: 95vw;
            border-radius: 0;
            box-shadow: none;

            .form {
                width: 100%;

                .body {
                    padding: 0;
                }
            }

            .loginForm {
                transform: scaleX(1);
                height: 40%;
            }

            .loginForm.active {
                height: 60%;
                transition-delay: 0ms;
            }

            .signupForm {
                transform: scaleX(1);
                height: 45%;
            }

            .signupForm.active {
                height: 60%;
                transform: scaleX(1);
                transition-delay: 0ms;
            }

            .overlay {
                width: 100%;
                bottom: 60%;
            }

            .overlay.active {
                left: 0;
                top: 60%;
                bottom: -10%;
            }
        }
    }

    footer {
        display: none !important;
    }
}