@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$base-Color:#167fe0;
$base-Color-Hover: #3c92e2;
$base-Color-btn: #0a68c0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

nav {
  background-color: $base-Color;

  .container-fluid {
    .navbar-brand {
      color: white;
    }

    .navbar-nav {
      .nav-item {
        margin: 0 .4rem;

        &:nth-child(2) {
          margin: 0;
          padding: 8px;
        }

        &:nth-child(3) {
          margin: 0;
          padding: 8px;
        }

        &:nth-child(4) {
          margin: 0;
          padding: 8px;
        }


        &:last-child {

          margin: 0;
        }

        .nav-link {
          color: white;
          transition: 300ms;
        }

        .search {
          height: 1.5rem;
          border: none;
          border-radius: 4px;
          background-color: white;
          overflow: hidden;
          padding: 0 .5rem;


          input[type='text'] {
            height: 1.2rem;
            width: 170px;
            border: none;
            margin: 0 .2rem;
            background-color: transparent;

            &:focus {
              outline: none;
            }
          }
        }

        .form-select {
          height: 1.5rem;
          width: 150px;
          font-size: .9rem;
          font-weight: 800;
          padding-top: 0;
          padding-bottom: 0;
        }

        .profile {
          height: 2rem;
          width: 2rem;
          background-color: white;
          cursor: pointer;
          border-radius: 50%;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
          }
        }

        &:hover>.nav-link {
          color: rgb(221, 221, 221);
          transition: 300ms;
        }

        .active {
          color: rgb(221, 221, 221);
        }
      }
    }
  }
}

footer {
  background-color: $base-Color;

  .navbar-nav {
    .nav-item {
      margin: 0 .4rem;

      .nav-link {
        color: white;
        transition: 300ms;
      }

      &:hover>.nav-link {
        color: rgb(221, 221, 221);
        transition: 300ms;
      }

      .nav-link.active {
        color: rgb(221, 221, 221);
      }
    }
  }
}

// `xxxl` applies to x-x-large devices
.LoginSignup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    position: relative;
    height: 70vh;
    min-width: 350px;
    width: 60vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .form {
      min-width: 350px;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      overflow: hidden;

      .header {
        width: 100%;
        text-align: center;
        color: $base-Color;
      }

      .body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 1.5rem;

        .text-feild {
          width: 100%;

          &:first-child {
            margin-bottom: 1rem;
          }
        }

        .showpass {
          cursor: pointer;
          font-size: 18px;
        }

        a {
          color: rgb(128, 128, 128);
          text-decoration: none;
          font-size: 14px;
          transition: 400ms;
          margin-top: 0.3rem;

          &:hover {
            color: rgb(26, 26, 26);
            transition: 400ms;
          }

        }

        .bttn {
          height: 2.3rem;
          width: 100%;
          border-radius: 10px;
          border: none;
          background-color: $base-Color;
          color: white;
          transition: 400ms;
          margin-top: 1rem;

          &:hover {
            background-color: $base-Color-Hover;
            transition: 400ms;
          }
        }

        .policy {
          span {
            font-size: 14px;
            padding-left: 0;
          }
        }
      }

      .footer {
        width: 100%;
        text-align: center;
        margin-top: .5rem;

        ul {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 0;

          list-style: none;

          li {
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            margin: .5rem .5rem 0;
            border: 1px solid gray;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
              color: white !important;
              transition: 400ms;
            }

            &:first-child {
              color: #129AF6;
              transition: 400ms;

              &:hover {
                background-color: #129AF6;
              }
            }

            &:nth-child(2) {
              color: #1D9BF0;
              transition: 400ms;

              &:hover {
                background-color: #1D9BF0;
              }
            }

            &:nth-child(3) {
              color: #0037C1;
              transition: 400ms;

              &:hover {
                background-color: #0037C1;
              }
            }

            &:nth-child(4) {
              color: #CA4336;
              transition: 400ms;

              &:hover {
                background-color: #CA4336;
              }
            }

            &:nth-child(5) {
              color: #000000;
              transition: 400ms;

              &:hover {
                background-color: #000000;
              }
            }

            &:nth-child(6) {
              color: #6001D2;
              transition: 400ms;

              &:hover {
                background-color: #6001D2;
              }
            }
          }
        }
      }
    }

    .signupForm {
      transform: scaleX(0);
      transform-origin: left;
      transition: 400ms;
    }

    .signupForm.active {
      transform: scaleX(1);
      transition: 400ms;
      transition-delay: 400ms;
    }

    .loginForm {
      transform: scaleX(0);
      transform-origin: right;
      transition: 400ms;
    }

    .loginForm.active {
      transform: scaleX(1);
      transition: 400ms;
      transition-delay: 400ms;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background-color: $base-Color;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      transition: 400ms;

      .content {
        width: 100%;
        text-align: center;
        overflow: hidden;

        .header {
          h1 {
            color: white;
          }
        }

        .body {

          p {
            margin: 0 auto;
            text-align: justify;
            width: 300px;
            color: white;
          }
        }

        .footer {
          margin-top: 1rem;

          input[type="button"] {
            width: 300px;
            height: 3rem;
            border-radius: 30px;
            border: none;
            background-color: $base-Color-btn;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.603);
            color: white;
            transition: 400ms;

            &:hover {
              box-shadow: 0 0 10px white;
              transition: 400ms;
            }
          }
        }
      }

      .login {
        height: 200px;
        transition: 400ms;
        transition-delay: 400ms;
      }

      .signup {
        height: 0;
        transition: 400ms;
        transition-delay: 400ms;
      }
    }

    .overlay.active {
      left: 50%;
      right: 0;
      transition: 400ms;

      .login {
        height: 0;
        transition: 400ms;
        transition-delay: 400ms;
      }

      .signup {
        height: 200px;
        transition: 400ms;
        transition-delay: 400ms;
      }
    }
  }
}

.web-layout {
  section {
    margin-top: 56px;
    height: calc(100vh - 112px);

    .dragable {
      position: relative;
      overflow-x: auto;

      .bricks-wall {
        height: calc(75vh - 64px);
        user-select: none;
      }

      .chevron-left {
        position: fixed;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 56px;
        left: 0;
        height: calc(75vh - 64px);
        width: 2%;
        background-color: rgba(0, 0, 0, 0.301);
        cursor: pointer;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: white;
        font-size: 35px;
        transition: 200ms;
        z-index: 10;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 40px;
          transition: 200ms;
        }
      }

      .chevron-right {
        user-select: none;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 56px;
        right: 0;
        height: calc(75vh - 64px);
        width: 2%;
        background-color: rgba(0, 0, 0, 0.301);
        cursor: pointer;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        color: white;
        font-size: 35px;
        transition: 200ms;
        z-index: 10;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 40px;
          transition: 200ms;
        }
      }

      .droppedImage {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        cursor: move;
      }

      .dropable {
        position: fixed;
        top: 66px;
        left: 10px;
        right: 10px;
        height: calc(75vh - 84px);
        border: 2px dashed white;
        border-radius: 10px;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 70px;
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: 0 0 10px black;
        opacity: 0;
        transition: 200ms ease-in-out;
      }

      .dropable.active {
        opacity: 1;
        transition: 200ms ease-in-out;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .dragableSlider {
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: calc(25vh - 56px);
      overflow: hidden;

      .control {
        position: relative;
        height: 100px;
        width: 800px;
        position: relative;

        img {
          height: 100px;
          width: 100%;
          border-radius: 5px;
          user-select: none;
        }

        .outerFrame {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 120px;
          width: 220px;
          border: 10px solid rgba(0, 0, 0, 0.493);
          border-radius: 10px;
          position: absolute;
          top: -10px;
          left: -10px;
          overflow: hidden;
          cursor: grab;

          .innerFrame {
            height: 100px;
            width: 200px;
            border: 5px solid rgba(0, 0, 0, 0.432);
          }

          &:active {
            cursor: grabbing;
          }
        }
      }
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .LoginSignup {
    .main {
      width: 70vw;
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .LoginSignup {
    .main {
      height: 60vh;
      width: 80vw;
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .LoginSignup {
    .main {
      height: 60vh;
      width: 90vw;

      .form {
        min-width: 300px;
      }
    }
  }

  .web-layout {
    section {
      height: calc(100vh - 112px);

      .dragable {
        .bricks-wall {
          height: calc(100vh - 112px);
        }

        .chevron-left {
          height: calc(100vh - 112px);
          width: 7%;
        }

        .chevron-right {
          height: calc(100vh - 112px);
          width: 7%;
        }
      }

      .dragableSlider {
        display: none;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .LoginSignup {
    .main {
      position: static;
      height: 100vh;
      width: 95vw;
      border-radius: 0;
      box-shadow: none;

      .form {
        width: 100%;

        .body {
          padding: 0;
        }
      }

      .loginForm {
        transform: scaleX(1);
        height: 40%;
      }

      .loginForm.active {
        height: 60%;
        transition-delay: 0ms;
      }

      .signupForm {
        transform: scaleX(1);
        height: 45%;
      }

      .signupForm.active {
        height: 60%;
        transform: scaleX(1);
        transition-delay: 0ms;
      }


      .overlay {
        width: 100%;
        bottom: 60%;
      }

      .overlay.active {
        left: 0;
        top: 60%;
        bottom: -10%;
      }
    }
  }
}